.page {
    min-width: 1280px;
    max-width: 100%;
    /* max-width: 1600px; */
    height: 6875px;
    margin: 0 auto;
    font-family: 'Inter-Regular', Arial, Helvetica, sans-serif; /*ШРИФТ НАДО ПОМЕНЯТЬ*/
    background-color: #0b5ad1;
    display: flex;
    position: relative;/*
    justify-content: center;
    align-items: flex-start;
    z-index: -1;
    box-sizing: border-box; */
}