.photo-grid {
    position: absolute;
    width: 1184px;
    height: 671px;
    left: 48px;
    top: 1754px;
    
   

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    border: 1px solid red;
}