.intro__list {
    margin: 0;
    max-width: 690px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 33px 0 0;
    align-self: flex-start;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
}
@media (max-width: 1024px) {
    .intro__list {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .intro__list {
        max-width: 690px;
        min-width: 320px;
        padding: 33px 0 0 24px;
    }  
}
@media (max-width: 320px) {
    .intro__list {
        max-width: 320px;
        padding: 33px 16px 0 16px;
    }
}