.footer__copyright {
    position: absolute;
width: 186px;
height: 16px;
left: 1046px;
top: 6835px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

text-align: right;

color:green;
}