.cover__background {
    max-width: 1184px;
    max-height: 740px;
    height: calc(100vw / 1.6);
    width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    text-decoration: none;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    position: relative;
    z-index: 0;
}
@media (max-width: 1024px) {
    .cover__background  {
        max-width: 1024px;
        max-height: 640px;
        height: calc(100vw / 1.6);
    }   
}
@media (max-width: 768px) {
    .cover__background  {
        max-width: 768px;
        max-height: 480px;
        height: calc(100vw / 1.6);
    }   
}
@media (max-width: 320px) {
    .cover__background {
        max-width: 320px;
        max-height: 200px;
        height: calc(100vw / 1.6);
    }   
}
.cover__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, .3);
    transition: .8s;
    z-index: -1;
}

.cover__background:hover::before {
    background-color: rgba(42, 44, 47, .8);
    transition: .8s;
}


